html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
    background-color: #fffffe;
    display: grid;
    border: none;
}